<!DOCTYPE html>
<html>
<head>
  <title>Saasy</title>
  <%= stylesheet_link_tag    "saasy/application" %>
  <%= javascript_include_tag "saasy/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
